body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 12px;
  background: #1e293b;
  color: white;
}

#map {
  height: calc(100vh - 120px);
  width: 100%;
}



footer {
  text-align: center;
  padding: 8px;
  background: #f1f5f9;
  font-size: 14px;
}
